################################################################################
#>> This file is managed by Ansible - changes made here will be overwritten. <<#
################################################################################
{% for entry in rsync_users %}
{% if entry.comment is defined %}
# {{ entry.comment }}
{% endif %}
{{ entry.name }}:{{ entry.password }}
{% endfor %}
